# RMDS Restaurant Dashboard Project
## Strong Woman Team (Finka Marisa Geananda Sufie and Olivia Destri Riana)

In [ ]:
# Necessary imports for general purpose
import pandas as pd
import numpy as np

In [ ]:
# Pandas function that reads an excel sheet as a dataframe
detail_df = pd.read_excel('competition_data/Q3_competition_detail_dataset.xlsx')

In [ ]:
# pandas option to display all the columns of a dataframe for the first 5 rows
pd.set_option('display.max_columns', None)
detail_df.head()

,id,name,is_claimed,is_closed,phone,review_count,categories01,categories02,categories03,rating,price,transactions,zip_code,city,address,restaurant_url,image_url,latitude,longitude,photos,cross_streets
0,nzgC5hhlnSq2DYbJbtH5MQ,Foxy's Landing & Restaurant,True,False,1.661949e+10,52,breakfast_brunch,tradamerican,NaN,4.0,$$,[],93536.0,Lancaster,"['4555 W Avenue G', 'Lancaster, CA 93536']",https://www.yelp.com/biz/foxys-landing-and-res...,https://s3-media1.fl.yelpcdn.com/bphoto/LooWtz...,34.738829,-118.216215,['https://s3-media1.fl.yelpcdn.com/bphoto/LooW...,NaN
1,i-2aG9_PQBEy7LrsRv0Ivg,Mosman's Steakhouse,True,False,1.661949e+10,63,bars,steak,NaN,3.5,$$,[],93536.0,Lancaster,"['46645 W 60th W', 'Lancaster, CA 93536']",https://www.yelp.com/biz/mosmans-steakhouse-la...,https://s3-media3.fl.yelpcdn.com/bphoto/JJ3mkC...,34.730580,-118.238360,['https://s3-media3.fl.yelpcdn.com/bphoto/JJ3m...,NaN
2,DJoeogRsOW5s9MzgveHQ2A,El Tamarindo,True,False,1.661723e+10,11,salvadoran,NaN,NaN,3.5,$,[],93534.0,Lancaster,"['551 W Ave I', 'Ste E', 'Lancaster, CA 93534']",https://www.yelp.com/biz/el-tamarindo-lancaste...,https://s3-media1.fl.yelpcdn.com/bphoto/UMSkfH...,34.707469,-118.146286,['https://s3-media1.fl.yelpcdn.com/bphoto/UMSk...,NaN
3,hwWfv3sSxV3a47UAdSVT5w,Subway,True,False,1.661730e+10,13,sandwiches,NaN,NaN,2.5,$,"['delivery', 'pickup']",93535.0,Lancaster,"['1821 W Ave I', 'Unit 103', 'Lancaster, CA 93...",https://www.yelp.com/biz/subway-lancaster-106?...,https://s3-media3.fl.yelpcdn.com/bphoto/4Yo7Ea...,34.705218,-118.164180,['https://s3-media3.fl.yelpcdn.com/bphoto/4Yo7...,NaN
4,TxU0fwF2N2nVhCpzokc1Pg,Little Caesars,True,False,1.661946e+10,54,pizza,NaN,NaN,1.5,$,[],93534.0,Lancaster,"['1841 W Ave I', 'Bldg 2, Ste D', 'Lancaster, ...",https://www.yelp.com/biz/little-caesars-lancas...,https://s3-media2.fl.yelpcdn.com/bphoto/-Fz1W5...,34.705100,-118.164870,['https://s3-media2.fl.yelpcdn.com/bphoto/-Fz1...,NaN

In [ ]:
# dataframe info method that displays some useful information for data cleaning (null counts and dtypes)
detail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10710 entries, 0 to 10709
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              10710 non-null  object
 1   name            10710 non-null  object
 2   is_claimed      10710 non-null  bool
 3   is_closed       10710 non-null  bool
 4   phone           9993 non-null   float64
 5   review_count    10710 non-null  int64
 6   categories01    10710 non-null  object
 7   categories02    7434 non-null   object
 8   categories03    4034 non-null   object
 9   rating          10710 non-null  float64
 10  price           8374 non-null   object
 11  transactions    10710 non-null  object
 12  zip_code        10703 non-null  float64
 13  city            10710 non-null  object
 14  address         10710 non-null  object
 15  restaurant_url  10710 non-null  object
 16  image_url       10350 non-null  object
 17  latitude        10710 non-null  float64
 18  longitude       10710 non-null  float64
 19  photos          10710 non-null  object
 20  cross_streets   0 non-null      float64
dtypes: bool(2), float64(6), int64(1), object(12)
memory usage: 1.6+ MB

In [ ]:
# dataframe drop method to remove the cross_streets column from our dataframe
detail_df = detail_df.drop('cross_streets', axis=1)

In [ ]:
# Check for duplicates in each column
for col in detail_df.columns:
    boolean = not detail_df[col].is_unique
    print(col + ':')
    print(boolean)
    print()

# TODO: MAYBE pick out specific columns to check dupes for cuz this list is kinda long.

id:
False

name:
True

is_claimed:
True

is_closed:
True

phone:
True

review_count:
True

categories01:
True

categories02:
True

categories03:
True

rating:
True

price:
True

transactions:
True

zip_code:
True

city:
True

address:
True

restaurant_url:
False

image_url:
True

latitude:
True

longitude:
True

photos:
True

In [ ]:
# this simple query shows that Subway has at least 2 different entries in this dataframe
detail_df[detail_df['name'] == 'Subway'].head(2)

,id,name,is_claimed,is_closed,phone,review_count,categories01,categories02,categories03,rating,price,transactions,zip_code,city,address,restaurant_url,image_url,latitude,longitude,photos
3,hwWfv3sSxV3a47UAdSVT5w,Subway,True,False,1.661730e+10,13,sandwiches,NaN,NaN,2.5,$,"['delivery', 'pickup']",93535.0,Lancaster,"['1821 W Ave I', 'Unit 103', 'Lancaster, CA 93...",https://www.yelp.com/biz/subway-lancaster-106?...,https://s3-media3.fl.yelpcdn.com/bphoto/4Yo7Ea...,34.705218,-118.164180,['https://s3-media3.fl.yelpcdn.com/bphoto/4Yo7...
86,ylRylAWeE6KlF6skM-Pmzw,Subway,True,False,1.661940e+10,10,sandwiches,NaN,NaN,3.0,$,"['delivery', 'pickup']",93536.0,Lancaster,"['2015 W Ave J', 'Space B-16 Ste 2015', 'Lanca...",https://www.yelp.com/biz/subway-lancaster-76?a...,https://s3-media4.fl.yelpcdn.com/bphoto/3G13sI...,34.690192,-118.166509,['https://s3-media4.fl.yelpcdn.com/bphoto/3G13...

In [ ]:
# Pandas function to query rows with duplicates in the address column
pd.concat(g for _, g in detail_df.groupby("address") if len(g) > 1).head()

,id,name,is_claimed,is_closed,phone,review_count,categories01,categories02,categories03,rating,price,transactions,zip_code,city,address,restaurant_url,image_url,latitude,longitude,photos
8811,O9w_-6yJaOzXqCJf7yt4mA,Rock & Brews - LAX Southwest Terminal 1,True,False,1.424702e+10,771,burgers,newamerican,beerbar,3.0,$$,[],90045.0,Los Angeles,"['1 World Way', 'Los Angeles, CA 90045']",https://www.yelp.com/biz/rock-and-brews-lax-so...,https://s3-media2.fl.yelpcdn.com/bphoto/rjxYAA...,33.946526,-118.401190,['https://s3-media2.fl.yelpcdn.com/bphoto/rjxY...
8825,MdOKg7Nkw4Tusys0cnSfhQ,Panda Express,False,False,1.424751e+10,3,chinese,hotdogs,NaN,3.5,NaN,[],90045.0,Los Angeles,"['1 World Way', 'Los Angeles, CA 90045']",https://www.yelp.com/biz/panda-express-los-ang...,https://s3-media3.fl.yelpcdn.com/bphoto/YGlSvs...,33.946363,-118.401084,['https://s3-media3.fl.yelpcdn.com/bphoto/YGlS...
8885,CJC1pycIOA-ocBWawAOXow,Blue Window,False,False,NaN,37,hotdogs,NaN,NaN,1.5,$$,[],90045.0,Los Angeles,"['1 World Way', 'Los Angeles, CA 90045']",https://www.yelp.com/biz/blue-window-los-angel...,https://s3-media1.fl.yelpcdn.com/bphoto/CfEa0u...,33.944968,-118.400957,['https://s3-media1.fl.yelpcdn.com/bphoto/CfEa...
8813,IeEq0lQZ-ie39KeP91_07g,California Pizza Kitchen,False,False,1.866820e+10,294,pizza,tradamerican,NaN,2.5,$$,[],90045.0,Los Angeles,"['1 World Way', 'Terminal 1', 'Los Angeles, CA...",https://www.yelp.com/biz/california-pizza-kitc...,https://s3-media2.fl.yelpcdn.com/bphoto/LZCIK0...,33.946499,-118.401124,['https://s3-media2.fl.yelpcdn.com/bphoto/LZCI...
8829,dP6HQtMwyBhKH00nmkBQlw,Cassell's Hamburgers,True,False,NaN,100,burgers,breakfast_brunch,cocktailbars,2.5,$$,[],90045.0,Los Angeles,"['1 World Way', 'Terminal 1', 'Los Angeles, CA...",https://www.yelp.com/biz/cassells-hamburgers-l...,https://s3-media2.fl.yelpcdn.com/bphoto/wMnkHh...,33.946310,-118.401092,['https://s3-media2.fl.yelpcdn.com/bphoto/wMnk...

In [ ]:
# Checks for duplicate longitude and latitude values using groupby
gps_indexed = detail_df.groupby(['latitude', 'longitude']).first()
gps_indexed[gps_indexed.index.duplicated()]

Empty DataFrame
Columns: [id, name, is_claimed, is_closed, phone, review_count, categories01, categories02, categories03, rating, price, transactions, zip_code, city, address, restaurant_url, image_url, photos]
Index: []

In [ ]:
# Display unique values of select columns (commented out for brevity)

#for col in ['is_claimed', 'is_closed', 'review_count', 'categories01', 'categories02', 'categories03', 'rating', 'price', 'transactions', 'city', 'cross_streets']:
#    print(col + ':')
#    print(detail_df[col].unique())
#    print()

In [ ]:
print(detail_df['categories01'].unique()[:10])

['breakfast_brunch' 'bars' 'salvadoran' 'sandwiches' 'pizza' 'tacos'
 'chinese' 'burgers' 'foodtrucks' 'hotdogs']

In [ ]:
# 
def clean_categories01(category):
    if category in ['bars', 'beer_and_wine', 'wine_bars', 'cocktailbars', 'beerbar', 'brewpubs', \
                    'speakeasies', 'gaybars', 'beergardens', 'distilleries', 'winetastingroom', 'irish_pubs']:
        return 'alchoholic beverages'
    else:
        return category
    #if category in ['']

In [ ]:
detail_df['categories01'] = detail_df['categories01'].apply(clean_categories01)

In [ ]:
# Aggregates the different categories into a new features of type: list
detail_df['categories'] = detail_df[['categories01', 'categories02', 'categories03']].values.tolist()

In [ ]:
from ast import literal_eval

In [ ]:
# Convert transactions string value to list
detail_df['transactions'] = detail_df['transactions'].apply(literal_eval)

In [ ]:
detail_df['transactions']

0                        []
1                        []
2                        []
3        [delivery, pickup]
4                        []
                ...
10705    [delivery, pickup]
10706                    []
10707            [delivery]
10708    [delivery, pickup]
10709                    []
Name: transactions, Length: 10710, dtype: object

In [ ]:
# Set transactions with empty list (assumed to be physical) to a new df and transactions with populated list to a different df
physical = detail_df[detail_df.transactions.str.len().eq(0)]
non_physical = detail_df[~detail_df.transactions.str.len().eq(0)]

In [ ]:
# Show top 10 most reviewed categories for physical restaurants
physical[['categories01', 'review_count']].groupby('categories01').sum().sort_values('review_count', ascending=False)[:10]

                      review_count
categories01
korean                       19966
mexican                      15531
steak                        14292
newamerican                  13917
seafood                      12715
burgers                      11492
alchoholic beverages         11183
bakeries                     10685
pizza                        10590
foodtrucks                    9205

In [ ]:
# Show top 10 most reviewed categories for non-physical restaurants
non_physical[['categories01', 'review_count']].groupby('categories01').sum().sort_values('review_count', ascending=False)[:10]

              review_count
categories01
mexican             201524
newamerican         163360
sushi               140113
korean              139912
japanese            120714
pizza               115398
italian             112978
burgers              95279
chinese              94883
ramen                81655

In [ ]:
physical_review_counts = physical[['categories01', 'review_count']].groupby('categories01').sum()
physical_review_props = physical_review_counts / physical_review_counts['review_count'].sum()
physical_review_props = physical_review_props.rename(columns={'review_count': 'review_prop'})

In [ ]:
non_physical_review_counts = non_physical[['categories01', 'review_count']].groupby('categories01').sum()
non_physical_review_props = non_physical_review_counts / non_physical_review_counts['review_count'].sum()
non_physical_review_props = non_physical_review_props.rename(columns={'review_count': 'review_prop'})

In [ ]:
review_differences = physical_review_props.merge(non_physical_review_props, how='outer', left_index=True, right_index=True)

In [ ]:
review_differences = review_differences.fillna(0)
review_differences['difference'] = abs(review_differences['review_prop_x'] - review_differences['review_prop_y'])
review_differences.sort_values('difference', ascending=False)[:10]

                      review_prop_x  review_prop_y  difference
categories01
steak                      0.055477       0.012206    0.043271
sushi                      0.012309       0.052545    0.040237
foodtrucks                 0.035731       0.002245    0.033487
bakeries                   0.041476       0.013137    0.028339
ramen                      0.004844       0.030622    0.025778
korean                     0.077502       0.052470    0.025032
alchoholic beverages       0.043409       0.020700    0.022709
chicken_wings              0.030386       0.008718    0.021668
seafood                    0.049356       0.028229    0.021126
buffets                    0.018275       0.000442    0.017833

In [ ]:
review_df = pd.read_excel('competition_data/Q3_competition_review_dataset.xlsx')

In [ ]:
# https://www.iflexion.com/blog/sentiment-analysis-python
review_df.head()

,id,review_id,review_text,review_rating,review_time_created
0,cal0Wpupxj9c_AV7WzDXsw,AyueC5Vq_5lUKJFqSzXWWw,Slightly turned off by the hostess. She wasn't...,3.0,2021-07-13 15:01:59
1,cal0Wpupxj9c_AV7WzDXsw,yaH4AmHUz9b3Ywv4VtvU5g,Wish I would have known about no brunch at the...,3.0,2021-07-06 13:50:42
2,cal0Wpupxj9c_AV7WzDXsw,YiuFLFWsrP92_QWa-d2W2Q,I had an amazing experience at Granville.\n\nw...,5.0,2021-08-09 21:06:24
3,jVYU9iXvBMiC2A4H12Azfg,VyKvwjOuJxKWiLlyzsqQ_A,Photo dump from dinner on Aug 8th. Literally c...,5.0,2021-08-09 13:01:09
4,jVYU9iXvBMiC2A4H12Azfg,D0-MjyINO2u9IRmf1opaUQ,I've had this place bookmarked on my Yelp for ...,2.0,2021-07-17 16:28:47

In [ ]:
detail_review = detail_df.merge(review_df, how='outer', left_on='id', right_on='id')

In [ ]:
detail_review = detail_review[detail_review['name'].notna()]

In [ ]:
import nltk
# nltk.download()
# Uncomment to download nltk packages

In [ ]:
from nltk.sentiment import SentimentIntensityAnalyzer

In [ ]:
sia = SentimentIntensityAnalyzer()

In [ ]:
def analyze_sentiment(review):

    if type(review) != str:
        return review
    
    score = sia.polarity_scores(review)['compound']
    if score >= 0.05:
        return 'positive'
    elif score >= -0.05:
        return 'neutral'
    else:
        return 'negative'

In [ ]:
detail_review['sentiment'] = detail_review['review_text'].apply(analyze_sentiment)

In [ ]:
detail_review = detail_review.drop(detail_review[detail_review['review_text'] == 0].index)

In [ ]:
detail_review['review_rating'].value_counts()

5.0    14549
1.0     6165
4.0     5017
3.0     2747
2.0     2200
Name: review_rating, dtype: int64

In [ ]:
detail_review = detail_review[detail_review['sentiment'].notna()]

### What type of restaurants would customers prefer? (pick-up/delivery, dine-in)

In [ ]:
# Set transactions with empty list (assumed to be physical) to a new df and transactions with populated list to a different df
physical = detail_review[detail_review.transactions.str.len().eq(0)]
non_physical = detail_review[~detail_review.transactions.str.len().eq(0)]

In [ ]:
# Show top 10 most reviewed categories for physical restaurants
physical['sentiment'].value_counts() / physical.shape[0]

positive    0.687068
negative    0.198909
neutral     0.114023
Name: sentiment, dtype: float64

In [ ]:
# Show top 10 most reviewed categories for non physical restaurants
non_physical['sentiment'].value_counts() / non_physical.shape[0]

positive    0.685001
negative    0.207193
neutral     0.107806
Name: sentiment, dtype: float64

In [ ]:
physical['review_rating'].value_counts() / physical.shape[0]

5.0    0.492283
1.0    0.181613
4.0    0.164050
3.0    0.091006
2.0    0.071048
Name: review_rating, dtype: float64

In [ ]:
non_physical['review_rating'].value_counts() / non_physical.shape[0]

5.0    0.468397
1.0    0.207236
4.0    0.163371
3.0    0.089068
2.0    0.071928
Name: review_rating, dtype: float64

In [ ]:
detail_review['id'].value_counts().sort_values(ascending=False)

1JYtqWdJobz4sxH8ZJ4ATA    3
2iPhFzexAGdGJ4nxNfTwsg    3
MwMSPROnVTYIOMLtXQcKyw    3
hUZDpWXUkw165KAk-uv5FA    3
b3RA0GzMbYBIw2XNzfO61g    3
                         ..
0AGOu8aj_8jETZiRUZQqJA    1
CY__M33tRLVc3fWz2j4H0g    1
vzkPyE0dYFFhuPt_XUxIjw    1
oJOE91-sbTDsEpwR_zQ7kw    1
GyCSgqmeChtpU8seMdkK2A    1
Name: id, Length: 10696, dtype: int64

In [ ]:
physical['id'].value_counts().sum()

7516